/* Colors */
$black: #000;
$white: #fffff2;
$light: #931e5d;
$dark: #4a1622;
$highlight: #9f5480;

/* Typography */
@import "/node_modules/rfs/scss";
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Reenie+Beanie&family=The+Girl+Next+Door&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://use.typekit.net/iay8nzn.css");

h1 {
  font-family: "The Girl Next Door", cursive;
}

h2, h3, h4, h5, h6 {
  font-family: "crayonette-djr", sans-serif;
}

a, p, ul, li {
  font-family: bookmania, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.handwritten {
  font-family: "Reenie Beanie", cursive;
}

body {
  h1 {
    @include font-size(12rem);
    mix-blend-mode: overlay;
  }
  h2 {
    @include font-size(7rem);
    color: $highlight;
    margin: 0;
  }
  h3 {
    @include font-size(4rem);
    color: $highlight;
    margin: 0;
    padding-bottom: 0.25em;
  }
  p {
    @include font-size(1rem);
  }
  .handwritten {
    @include font-size(1.75rem);
    line-height: 1;
    text-shadow: 0 0 10px $dark;
  }
  a {
    color: $highlight;
    line-height: 1;
    transition: 0.25s all;
    &:hover {
      color: $white;
    }
    &.white {
      color: $white;
      &:hover {
        color: $highlight;
      }
    }
  }
}

/* Screen Sizing */
$x-small: 400px;
$phone: 640px;
$tablet: 768px;
$desktop: 1200px;

@mixin x-small-up {
  @media (min-width: $x-small) { @content; }
}

@mixin phone-up {
  @media (min-width: $phone) { @content; }
}

@mixin tablet-up {
  @media (min-width: $tablet) { @content; }
}

@mixin desktop-up {
  @media (min-width: $desktop) { @content; }
}

.screen {
  width: 100vw;
  min-height: 100vh;
  h2 {
    padding: 0.25em;
    padding-bottom: 0;
    text-align: center;
    @include phone-up {
      text-align: left;
    }
  }
}

.width-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.padded {
  padding: 2em;
}

.light-bg {
  background-color: #9f548090;
  color: $white;
}

.dark-bg {
  color: $highlight;
}

.texture {
  &.top {
    margin-bottom: -4px;
  }
  &.light {
    filter: invert(13%) sepia(47%) saturate(7310%) hue-rotate(355deg) brightness(93%) contrast(64%);
  }
  &.flip img {
    transform: rotate(180deg);
    margin-top: -1px;
  }
}

.no-scroll {
  overflow: hidden;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background: $highlight;
  display: flex;
  align-items: center;
  justify-content: center;
}

#water-texture {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: red;
}

.intro-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: $white;
  background-image: url("../images/intro-ss.webp");
  background-size: cover;
  height: 0 !important;
  .title-container {
    max-width: 100%;
    height: 100%;
    margin: 2em 0;
    mix-blend-mode: color-burn;
    display: flex;
    align-items: center;
    img {
      height: 60%;
      width: 100%;
      @include x-small-up {
        height: 100% !important;
      }
    }
  }
  .play-button {
    /* display: grid; */
    display: none;
    transition: 0.25s all;
    bottom: 8vh;
    margin-bottom: 2em;
    &:hover {
      cursor: pointer;
      transform: scale(1.1) rotate(5deg);
    }
    img {
      grid-area: 1/1;
      max-width: 150px;
    }
    p {
      grid-area: 1/1;
      display: flex;
      align-items: center;
      justify-self: center;
      font-size: 2em;
      margin-bottom: 0.5em;
      color: $dark;
      padding-top: 10px;
    }
  }
  .menu {
    a {
      font-size: 0.8em;
      @include x-small-up {
        @include font-size(1.25rem);
      }
    }
  }
}

#video-player {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: black;
  z-index: -25;
}

#video-close {
  position: absolute;
  top: 0;
  right: 0;
  color: $white;
  padding: 1em;
  z-index: -25;
  cursor: pointer;
  transition: 0.25s all;
  img {
    max-width: 2em;
  }
  &:hover {
    transform: scale(1.1) rotate(5deg);
  }
}

.text-screen {
  color: $white;
  overflow: hidden;
  p {
    margin: 0;
  }
  #text-1 {
    display: flex;
  }
  .width-container {
    padding: 14em 2em 2em;
    .text-block {
      max-width: 500px;
      text-align: center;
      padding-bottom: 2em;
      h3 {
        font-size: 5em;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
  .logline, .why {
    opacity: 1;
  }
}

.img-bg {
  background-image: url("../images/background-red-2.webp");
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 110vh;
  position: fixed;
  z-index: -20;
}
.img-2 {
  background-image: url("../images/background-red-2.webp");
  opacity: 0.6;
  mix-blend-mode: normal;
}

.menu {
  gap: 1em;
  display: flex;
  align-items: center;
  margin: 1em;
  div {
    min-width: 25px;
  }
  .instagram {
    path {
      fill: $white;
      transition: 0.25s all;
    }
    &:hover {
      path {
        fill: $highlight;
      }
    }
  }
}

#footprints-trigger {
  position: absolute;
  top: 100%;
}
#footprints-container {
  position: fixed;
  width: 100%;
  top: 1em;
  z-index: -1;
  .footprints {
    position: relative;
    .footprint-a {
      max-width: 60px;
      transform: rotate(235deg);
      position: absolute;
      opacity: 0;
      @include tablet-up {
        max-width: 80px;
      }
      @include tablet-up {
        max-width: 100px;
      }
    }
    .footprint-2 {
      left: 13%;
      top: 0;
      rotate: (100deg);
    }
    .footprint-3 {
      left: 18%;
      top: 5em;
      transform: rotate(241deg);
    }
    .footprint-4 {
      left: 29%;
      top: 3em;
      transform: rotate(-24deg);
    }
    .footprint-5 {
      left: 39%;
      top: 7em;
      transform: rotate(225deg);
    }
    .footprint-6 {
      left: 46%;
      top: 2em;
      transform: rotate(-53deg);
    }
    .footprint-7 {
      left: 57%;
      top: 6em;
      transform: rotate(219deg);
    }
    .footprint-8 {
      left: 64%;
      top: 0;
      transform: rotate(-59deg);
    }
    .footprint-9 {
      left: 73%;
      top: 5em;
      transform: rotate(238deg);
    }
    .footprint-10 {
      left: 82%;
      top: 0;
      transform: rotate(-34deg);
    }
    .footprint-11 {
      left: 90%;
      top: 6em;
      transform: rotate(251deg);
    }
  }
}

.comps {
  h2 {
    text-align: center;
    color: $white;
  }
  .poster-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    text-align: center;
    .poster {
      display: grid;
      justify-items: center;
      img {
        max-width: 100%;
        max-height: 25em;
        grid-area: 1/1;
        border-radius: 0.5em;
        border: 5px solid $white;
        background: white;
      }
      .overlay {
        transition: 0.25s;
        &:hover {
          opacity: 0;
        }
      }
      .frame {
        z-index: 10;
      }
    }
    .poster-text {
      color: $white;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    @include tablet-up {
      grid-template-columns: repeat(3, 1fr);
      img {
        max-height: none;
      }
    }
  }
}

.residents {
  h2 {
    text-align: right;
    color: $white;
    position: absolute;
    right: 0;
    top: -1.25em;
    padding: 0.5em;
  }
  .width-container {
    position: relative;
  }
  .handwritten {
    text-shadow: 0 0 10px $black;
  }
  .residents-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3em;
    row-gap: 1em;
    @include tablet-up {
      grid-template-columns: repeat(2, 1fr);
    }
    .resident {
      background-size: cover;
      background-position: center;
      background-color: #000000e8;
      border-radius: 0.5em;
      border: 5px solid $highlight;
      position: relative;
      margin-top: 2em;
      color: $white;
      transition: 0.25s all;
      min-height: 375px;
      display: flex;
      align-items: center;
      &:hover {
        .name, .note, .arrow {
          opacity: 1;
          transition: 0.25s all;
        }
      }
      &.open {
        .name, .note, .arrow, h3 {
          opacity: 0;
        }
      }
      .note {
        position: absolute;
        top: -2.5em;
        width: 100%;
        text-align: center;
        opacity: 0;
        &.long {
          top: -4em;
        }
      }
      .arrow {
        position: absolute;
        max-height: 40px;
        top: -0.5em;
        left: 45%;
        opacity: 0;
      }
      h3 {
        mix-blend-mode: plus-lighter;
        position: absolute;
        top: 0;
        left: 6px;
        font-size: 4em;
        @include tablet-up {
          @include font-size(4rem);
        }
      }
      .name {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px;
        padding-left: 1em;
        opacity: 0;
        p {
          margin: 0;
        }
      }
      button {
        position: absolute;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        color: $white;
        transition: 0.25s all;
        transform: scale(1) rotate(0deg);
        margin: 0.5em;
        padding: 1.25em;
        bottom: 0;
        right: 0;
        z-index: 10;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
        .bio-content {
          padding: 0;
          margin: 0;
          font-size: 1.25em;
          font-weight: 600;
        }
        .bio-x {
          position: absolute;
          bottom: 1.5em;
          margin: 0;
          max-width: 1em;
          display: none;
        }
        &.button-1 {
          background-image: url("../images/scribble-2.svg");
        }
        &.button-2 {
          background-image: url("../images/cauliflower.webp");
          background-size: cover;
          background-position: bottom;
          z-index: 3;
          p, .bio-x {
            color: $black;
          }
          .bio-x {
            padding-left: 0.2em;
          }
        }
        &.button-3 {
          background-image: url("../images/scribble-3.svg");
        }
      }
      .bio {
        opacity: 0;
        padding: 1em;
        padding-bottom: 0;
        overflow: auto;
        display: block;
        text-align: center;
        transition: 0.25s all;
        z-index: 1;
        border-radius: 3px;
        img {
          max-height: 150px;
          padding-bottom: 1em;
        }
        p {
          margin: 0;
          font-weight: 300;
          padding-bottom: 2em;
          @include font-size(0.85rem);
          @include desktop-up {
            font-size: 1em;
          }
        }
        &.mery {
          display: block;
          p {
            padding-bottom: 5em;
          }
          @media (min-width: 900px) {
            display: flex;
            gap: 1em;
            padding-bottom: 2em;
          }
        }
      }
      &.open {
        background-blend-mode: color;
        .bio {
          opacity: 1;
        }
        .bio-content {
          opacity: 0;
        }
        .name {
          opacity: 0;
        }
        .bio-x {
          display: block !important;
        }
      }
    }
    #possum {
      background-image: url("../images/possum-ss.webp");
      @include tablet-up {
        background-position: left;
      }
    }
    #annabella {
      background-image: url("../images/annabella.webp");
    }
    #pinecone {
      background-image: url("../images/pinecone.webp");
    }
    #tilly {
      background-image: url("../images/tilly.webp");
    }
    #hadley {
      background-image: url("../images/hadley.webp");
    }
    #blaze {
      background-image: url("../images/blaze.webp");
    }
  }
}

.timeline {
  h2 {
    color: $white;
    text-align: center;
    padding-bottom: 0.5em;
  }
}

.timeline-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  .timeline-item {
    .timeline-header {
      display: grid;
      grid-template-columns: 5% auto;
      align-items: center;
      color: $white;
      .point {
        margin-right: 1em;
        img {
          max-width: 100%;
        }
      }
      .header-content {
        display: flex;
        gap: 1em;
        align-items: center;
        margin: 2em 0;
        h3 {
          color: $white;
          background-color: $dark;
          -webkit-text-stroke: 0 transparent;
          width: fit-content;
          padding: 0.4em 0.4em 0.25em;
          font-family: bookmania, serif;
          font-weight: 300;
          @include font-size(1.5rem);
        }
        p {
          margin: 0;
          color: $white;
        }
        .date {
          opacity: 1;
        }
        .left {
          transform: rotate(-3deg);
        }
        .right {
          transform: rotate(3deg);
        }
      }
    }
    .timeline-bottom {
      display: grid;
      grid-template-columns: 5% auto;
      .line {
        justify-self: center;
        transition: 0.25s all;
        img {
          max-width: 0.5em;
          width: 100%;
          height: 100%;
        }
      }
      .content-container {
        opacity: 0;
        height: 0;
        transition: 0.25s all;
        &.open {
          opacity: 1;
          height: fit-content;
        }
        .content {
          padding: 1em;
          max-width: 600px;
          width: 100%;
          position: relative;
          opacity: 1;
          margin-bottom: 1em;
          border-radius: 0.5em;
          text-align: center;
          background: $white;
          .text {
            text-align: left;
            h4, p {
              margin: 0;
              color: $dark;
            }
            h4 {
              font-family: bookmania, serif;
              font-weight: 500;
              font-weight: normal;
            }
            p {
              font-weight: 300;
              @include font-size(0.85rem);
            }
          }
          img {
            max-height: 150px;
            margin: 1em;
          }
          &::before {
            content: "-";
            font-size: 2em;
            line-height: 0;
            position: absolute;
            left: -0.7em;
            color: $white;
          }
        }
        .flex {
          display: flex;
        }
      }
    }
  }
}

.crew-screen {
  #crew {
    padding: 0.25em 0.5em;
  }
  .crew-top img {
    margin-bottom: -5em;
    @include phone-up {
      margin-bottom: -14em;
    }
  }
  .crew-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding-top: 0;
    @include phone-up {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-up {
      grid-template-columns: repeat(3, 1fr);
    }
    @include desktop-up {
      grid-template-columns: repeat(4, 1fr);
    }
    .crew {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      background-size: cover;
      background-position: center;
      min-height: 400px;
      border: 5px solid $highlight;
      border-radius: 0.5em;
      transition: 0.25s all;
      cursor: default;
      .tags {
        grid-row: 1/5;
        grid-column: 1/1;
        position: relative;
        p {
          width: fit-content;
          padding: 0.4em 0.4em 0.25em;
          position: absolute;
          &:first-child {
            background: $dark;
            color: $white;
            z-index: 3;
          }
          &:last-of-type {
            background: $highlight;
            font-size: 0.8rem;
            color: $white;
          }
        }
      }
      .lower-third {
        transition: 0.25s all;
        text-align: right;
        button {
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          margin: 0.25em;
          padding: 1.25em;
          color: $white;
          transition: 0.25s all;
          position: relative;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
          .bio-content {
            padding: 0;
            margin: 0;
            font-size: 1.25em;
            font-weight: 600;
          }
          .bio-x {
            position: absolute;
            bottom: 0.75em;
            left: 0.8em;
            margin: 0;
            max-width: 1em;
            display: none;
          }
          &.button-1 {
            background-image: url("../images/scribble-2.svg");
          }
          &.button-2 {
            background-image: url("../images/cauliflower.webp");
            background-size: cover;
            background-position: bottom;
            p, .bio-x {
              color: $black;
            }
            .bio-x {
              padding-left: 0.7em;
              padding-bottom: 0.7em;
            }
          }
          &.button-3 {
            background-image: url("../images/scribble-3-pink.svg");
          }
        }
      }
      .bio {
        grid-row: 1/5;
        grid-column: 1/1;
        opacity: 0;
        background: #000c;
        padding: 1em;
        padding-bottom: 0;
        overflow: auto;
        display: block;
        text-align: center;
        transition: 0.25s all;
        border-radius: 0.25em;
        z-index: 3;
        img {
          max-height: 150px;
          padding-bottom: 1em;
        }
        p {
          margin: 0;
          font-weight: 300;
          color: $white;
          @include font-size(0.7rem);
        }
        @include phone-up {
          text-align: left;
          padding: 2em;
          padding-bottom: 0;
          display: flex;
          gap: 2em;
          img {
            padding-bottom: 0;
          }
        }
      }
      &.open {
        .lower-third {
          background-color: #000c;
        }
        .bio {
          opacity: 1;
        }
        .bio-content {
          opacity: 0;
        }
        .bio-x {
          display: block !important;
        }
      }
    }
    #daisy {
      background-image: url("../images/daisy.webp");
    }
    #soph {
      background-image: url("../images/soph-alt.webp");
    }
    #jackie {
      background-image: url("../images/jackie.webp");
    }
    #marissa {
      background-image: url("../images/marissa-headshot.webp");
    }
    #mary {
      background-image: url("../images/mary-headshot.webp");
    }
    #laura {
      background-image: url("../images/laura-headshot.webp");
    }
    #leah {
      background-image: url("../images/leah.webp");
    }
    #zack {
      background-image: url("../images/zach.webp");
    }
    #poly {
      background-image: url("../images/polyester.webp");
    }
    #ariel {
      background-image: url("../images/ariel-headshot.webp");
    }
    #wren {
      background-image: url("../images/wren.webp");
    }
  }
}
.buzz {
  position: relative;
  h2 {
    text-align: center;
    padding-bottom: 0.5em;
    color: $white;
  }
  min-height: auto;
  .buzz-container {
    img {
      max-width: 200px;
    }
    @include tablet-up {
      display: flex;
      justify-content: center;
      gap: 1em;
    }
  }
}

#buzz {
  padding: 0 2em 3em;
  text-align: center;
}

.buzz-bottom img {
  margin-bottom: -8em;
}

#footprints-container-2 {
  position: fixed;
  width: 100%;
  bottom: 45em;
  z-index: -1;
  .footprints {
    position: relative;
    .footprint-b {
      max-width: 60px;
      transform: rotate(235deg);
      position: absolute;
      opacity: 0;
      right: 0;
      @include tablet-up {
        max-width: 80px;
      }
      @include tablet-up {
        max-width: 100px;
      }
    }
    .footprint-1 {
      top: -5vh;
      right: 4em;
      rotate: (117deg);
    }
    .footprint-2 {
      top: 7vh;
      rotate: (181deg);
    }
    .footprint-3 {
      top: 17vh;
      right: 5em;
      rotate: (79deg);
    }
    .footprint-4 {
      top: 27vh;
      rotate: (163deg);
    }
    .footprint-5 {
      top: 37vh;
      right: 5em;
      rotate: (97deg);
    }
    .footprint-6 {
      top: 47vh;
      rotate: (181deg);
    }
    .footprint-7 {
      top: 55vh;
      right: 7em;
      rotate: (104deg);
    }
    .footprint-8 {
      top: 67vh;
      right: 3em;
      rotate: (192deg);
    }
    .footprint-9 {
      top: 73vh;
      right: 11em;
      rotate: (115deg);
    }
    .footprint-10 {
      top: 85vh;
      right: 9em;
      rotate: (216deg);
    }
  }
}

#footprints-trigger-2 {
  margin-top: 20vh;
  position: absolute;
  @include tablet-up {
    position: static;
    margin-top: 10vh;
  }
  @include desktop-up {
    margin-top: 0;
  }
}

#logos {
  min-height: auto;
}
.logos {
  display: grid;
  align-self: center;
  align-items: center;
  justify-items: center;
  padding: 5em 10em !important;
  gap: 2em;
  max-width: 800px;
  .logo {
    max-width: 250px;
    img {
      max-width: 100%;
    }
  }
  @include phone-up {
    grid-template-columns: 2fr 2fr;
    margin-bottom: 2em;
  }
  @include desktop-up {
    grid-template-columns: 2fr 2fr 2fr 2fr;
    padding: 5em 2em !important;
  }
}

.footer {
  padding: 0.5em 1em;
  text-align: center;
  a {
    color: $white;
  }
}
